<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690009396668-6hul9ktab8p1huh3iamdm8m91up5ieeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690009396668-6hul9ktab8p1huh3iamdm8m91up5ieeb</string>
	<key>API_KEY</key>
	<string>AIzaSyD8pTguSbsVeVSqVYGml1M_cMld8xhMpfk</string>
	<key>GCM_SENDER_ID</key>
	<string>690009396668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.txstate.mobile.tracs</string>
	<key>PROJECT_ID</key>
	<string>tracs-e329c</string>
	<key>STORAGE_BUCKET</key>
	<string>tracs-e329c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690009396668:ios:7ffd3a50d5ff0887</string>
	<key>DATABASE_URL</key>
	<string>https://tracs-e329c.firebaseio.com</string>
</dict>
</plist>